<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
body{
	padding:0px;
	margin:0px;
}
</style>
</head>

<body bgColor="#ccc">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><img src="images/menu_topimg.gif" /></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27">网站管理菜单</td>
	</tr>
	<tr>
		<td><img src="images/menu_topline.gif" /></td>
	</tr>
	<tr align="center">
	 <td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=Periodical&a=Index' target="mainFrame">期刊列表</a></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=PeriodicalZD&a=Index' target="mainFrame">Periodical征订列表</a></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=PeriodicalHD&a=Index' target="mainFrame">Periodical合订列表</a></td>
	</tr><tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=PeriodicalJY&a=Index' target="mainFrame">Periodical借阅列表</a></td>
	</tr><tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=PeriodicalJS&a=Index' target="mainFrame">Periodical减少列表</a></td>
	</tr>


	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=User&a=Index' target="mainFrame">读者列表</a></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=Book&a=Index' target="mainFrame">Book列表</a></td>
	</tr><tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=BookDG&a=Index' target="mainFrame">Book订购列表</a></td>
	</tr><tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=BookDH&a=Index' target="mainFrame">Book到货列表</a></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=BookBM&a=Index' target="mainFrame">Book编目列表</a></td>
	</tr><tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=BookJY&a=Index' target="mainFrame">Book借阅列表</a></td>
	</tr><tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=BookJS&a=Index' target="mainFrame">Book减少列表</a></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href='../../../index.php?c=admin&a=Index' target="mainFrame">管理员列表</a></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><hr /></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><a href="../../../index.php?p=back&c=Admin&a=Login" target="mainFrame">退出系统</a></td>
	</tr>
	<tr align="center">
		<td background="images/menu_bg.gif" height="27"><hr /></td>
	</tr>































	<tr>
		<td><img src="images/menu_bottomimg.gif" /></td>
	</tr>
</table>
</body>
</html>
