<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>网页标题</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>

<form name="form1" action="?c=periodicalZD&a=Update" method="post">
	 <h1>添加数据</h1>
	 <!--将当前要修改的用户的ID存储在一个隐藏域中，以便提交修改后的表单的时候
	 一并又发回（传回）服务器，以据此作为修改的用户的id的查询条件。-->
	 <input type="hidden" name="QKDGH" value='<?php echo $book['QKDGH']; ?>'>
	 
	 期刊编号:<input type="text" name="QKBH" value='<?php echo $book['QKBH']; ?>'><br/>
	 预订价格:<input type="text" name="YDJG" value='<?php echo $book['YDJG']; ?>'><br/>
	 预订册数:<input type="text" name="YDCS" value='<?php echo $book['YDCS']; ?>'><br/>
	 预订年度:<input type="text" name="YDND" value='<?php echo $book['YDND']; ?>'><br/>
	 获得方式码:<input type="text" name="HDFSM" value='<?php echo $book['HDFSM']; ?>'><br/>
	 征订人职工号:<input type="text" name="ZDRZGH" value='<?php echo $book['ZDRZGH']; ?>'><br/>
	 备注:<input type="text" name="BZ" value='<?php echo $book['BZ']; ?>'><br/>
	 
	 
	

	<input type="submit" value="提交" >
</form>
</body>
</html>
